@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}

#__next {
  background-color: #1a1a1a;
}

/* Ensure consistent button styles */
button {
  outline: none;
}

/* Custom styles for the dropdown button */
.dropdown-button {
  transition: all 0.2s ease; /* Smooth transition */
}

/* Prevent shifting on focus */
.dropdown-button:focus {
  border: 2px solid #647C90; /* Maintain border on focus */
  box-shadow: none; /* Remove any default box-shadow */
}

/* Dropdown item styles */
.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem; /* Consistent padding */
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0; /* Hover effect */
}